@import 'breakpoints';

// Structure
.flex {
  display: flex;
}

.cols {
  flex-direction: column;
}

.center {
  text-align: center;
}

.vcenter {
  align-items: center;
}

.self-center {
  margin: 0 auto;
}

.jcc {
  justify-content: center;
}

.text-centered {
  align-items: center;
  text-align: center;
}

.jcsb {
  justify-content: space-between;
}

.pb-24 {
  padding-bottom: 1.5rem;
}
.mb-24 {
  margin-bottom: 1.5rem;
}
.pb-48 {
  padding-bottom: 3rem;
}
.mb-48 {
  margin-bottom: 3rem;
}
.pb-64 {
  padding-bottom: 4rem;
}
.mb-64 {
  margin-bottom: 4rem;
}
.pb-80 {
  padding-bottom: 5rem;
}
.mb-80 {
  margin-bottom: 5rem;
}
.pb-96 {
  padding-bottom: 6rem;
}
.mb-96 {
  margin-bottom: 6rem;
}

.pb-120 {
  padding-bottom: 7.5rem;
}
.mb-120 {
  margin-bottom: 7.5rem;
}
.mb-200 {
  margin-bottom: 12.5rem;
} 
.mb-300 {
  margin-bottom: 18.75rem;
} 
.mb-340 {
  margin-bottom: 21.25rem;
} 

.gap-0-5 {
  gap: 0.5rem;
}
.gap-1 {
  gap: 1rem;
}
.gap-1-5 {
  gap: 1.5rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}
.gap-4 {
  gap: 4rem;
}
.gap-5 {
  gap: 5rem;
}
.gap-6 {
  gap: 6rem;
}

img, svg {
  max-width: fit-content;
  width: 100%;
  height: auto;
}

.app-wrapper {
  padding: 1.5rem;
}

.inner-wrapper {
  padding: 0 12rem;
}

@media (max-width: $screen-small) {
  .app-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .inner-wrapper {
    padding: 0 3rem;
  }
}


