// Typography 
h1 {
  font-size: 3.75rem;
  padding-bottom: 2rem;
  color: $blue-grey-darken-4;
}

h2 {
  font-size: 2.125rem;
  padding-bottom: 1rem;
}

h1, h2 {
  font-family: 'Gilroy-Bold';
}

p {
  line-height: 1.7;
  
  &.bold {
    font-family: 'Gilroy-Bold';
  }
  &.light {
    font-family: 'Gilroy-Light';
  }
}

a {
  text-decoration: none;
  transition: $transition;
  color: $grey-darken-1;

  &:hover {
    color: $indigo-lighten-2;
  }
}

p, a {
  font-size: 1.3rem;
  &.description {
      font-size: 1rem;
  }
}

 @media (max-width: $screen-phone) {
  h1 {
    font-size: 2rem;
  }
 }
