.grey {
  background-color: #9E9E9E;
}
.grey--text {
  color: #9E9E9E;
}
.grey__lighten-2 {
  background-color: #E0E0E0;
}
.grey__lighten-2--text {
  color: #E0E0E0;
}
.grey__lighten-3 {
  background-color: #EEEEEE;
}
.grey__lighten-3--text {
  color: #EEEEEE;
}
.grey__lighten-4 {
  background-color: #F5F5F5;
}
.grey__lighten-4--text {
  color: #F5F5F5;
}
.grey__lighten-5 {
  background-color: #FAFAFA;
}
.grey__lighten-5--text {
  color: #FAFAFA;
}
.grey__darken-1 {
  background-color: #757575;
}
.grey__darken-1--text {
  color: #757575;
}
.grey__darken-4 {
  background-color: #212121;
}
.grey__darken-4--text {
  color: #212121;
}

.blue-grey {
  background-color: #607D8B;
}
.blue-grey--text {
  color: #607D8B;
}
.blue-grey__darken-4 {
  background-color: #263238;
}
.blue-grey__darken-4--text {
  color: #263238;
}

.green {
  background-color: #4CAF50;
}
.green--text {
  color: #4CAF50;
}
.green__lighten-2 {
  background-color: #81C784;
}
.green__lighten-2--text {
  color: #81C784;
}

.indigo {
  background-color: #3F51B5;
}
.indigo--text {
  color: #3F51B5;
}
.indigo__lighten-2 {
  background-color: #7986CB;
}
.indigo__lighten-2--text {
  color: #7986CB;
}

.amber {
  background-color: #FFC107;
}
.amber--text {
  color: #FFC107;
}
.amber__lighten-3 {
  background-color: #FFE082;
}
.amber__lighten-3--text {
  color: #FFE082;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Bold";
  src: local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Light";
  src: local("Gilroy-Light"), url("../fonts/Gilroy-Light.ttf") format("truetype");
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul, nav {
  list-style: none;
}

html {
  box-sizing: border-box;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
}

body {
  background-color: #F5F5F5;
}

.rounded {
  border-radius: 8px;
}

.rounded-lg {
  border-radius: 24px;
}

.elevation-1 {
  box-shadow: 0px 2px 1px -1px rgba(214, 214, 214, 0.2), 0px 1px 1px rgba(214, 214, 214, 0.14), 0px 1px 3px rgba(214, 214, 214, 0.12);
}

.elevation-2 {
  box-shadow: 0px 3px 1px -2px rgba(214, 214, 214, 0.2), 0px 2px 2px rgba(214, 214, 214, 0.14), 0px 1px 5px rgba(214, 214, 214, 0.12);
}

.elevation-3 {
  box-shadow: 0px 3px 3px -2px rgba(214, 214, 214, 0.2), 0px 3px 4px rgba(214, 214, 214, 0.14), 0px 1px 8px rgba(214, 214, 214, 0.12);
}

.grey {
  background-color: #9E9E9E;
}
.grey--text {
  color: #9E9E9E;
}
.grey__lighten-2 {
  background-color: #E0E0E0;
}
.grey__lighten-2--text {
  color: #E0E0E0;
}
.grey__lighten-3 {
  background-color: #EEEEEE;
}
.grey__lighten-3--text {
  color: #EEEEEE;
}
.grey__lighten-4 {
  background-color: #F5F5F5;
}
.grey__lighten-4--text {
  color: #F5F5F5;
}
.grey__lighten-5 {
  background-color: #FAFAFA;
}
.grey__lighten-5--text {
  color: #FAFAFA;
}
.grey__darken-1 {
  background-color: #757575;
}
.grey__darken-1--text {
  color: #757575;
}
.grey__darken-4 {
  background-color: #212121;
}
.grey__darken-4--text {
  color: #212121;
}

.blue-grey {
  background-color: #607D8B;
}
.blue-grey--text {
  color: #607D8B;
}
.blue-grey__darken-4 {
  background-color: #263238;
}
.blue-grey__darken-4--text {
  color: #263238;
}

.green {
  background-color: #4CAF50;
}
.green--text {
  color: #4CAF50;
}
.green__lighten-2 {
  background-color: #81C784;
}
.green__lighten-2--text {
  color: #81C784;
}

.indigo {
  background-color: #3F51B5;
}
.indigo--text {
  color: #3F51B5;
}
.indigo__lighten-2 {
  background-color: #7986CB;
}
.indigo__lighten-2--text {
  color: #7986CB;
}

.amber {
  background-color: #FFC107;
}
.amber--text {
  color: #FFC107;
}
.amber__lighten-3 {
  background-color: #FFE082;
}
.amber__lighten-3--text {
  color: #FFE082;
}

.flex {
  display: flex;
}

.cols {
  flex-direction: column;
}

.center {
  text-align: center;
}

.vcenter {
  align-items: center;
}

.self-center {
  margin: 0 auto;
}

.jcc {
  justify-content: center;
}

.text-centered {
  align-items: center;
  text-align: center;
}

.jcsb {
  justify-content: space-between;
}

.pb-24 {
  padding-bottom: 1.5rem;
}

.mb-24 {
  margin-bottom: 1.5rem;
}

.pb-48 {
  padding-bottom: 3rem;
}

.mb-48 {
  margin-bottom: 3rem;
}

.pb-64 {
  padding-bottom: 4rem;
}

.mb-64 {
  margin-bottom: 4rem;
}

.pb-80 {
  padding-bottom: 5rem;
}

.mb-80 {
  margin-bottom: 5rem;
}

.pb-96 {
  padding-bottom: 6rem;
}

.mb-96 {
  margin-bottom: 6rem;
}

.pb-120 {
  padding-bottom: 7.5rem;
}

.mb-120 {
  margin-bottom: 7.5rem;
}

.mb-200 {
  margin-bottom: 12.5rem;
}

.mb-300 {
  margin-bottom: 18.75rem;
}

.mb-340 {
  margin-bottom: 21.25rem;
}

.gap-0-5 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-1-5 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-4 {
  gap: 4rem;
}

.gap-5 {
  gap: 5rem;
}

.gap-6 {
  gap: 6rem;
}

img, svg {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
  height: auto;
}

.app-wrapper {
  padding: 1.5rem;
}

.inner-wrapper {
  padding: 0 12rem;
}

@media (max-width: 980px) {
  .app-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .inner-wrapper {
    padding: 0 3rem;
  }
}
h1 {
  font-size: 3.75rem;
  padding-bottom: 2rem;
  color: #263238;
}

h2 {
  font-size: 2.125rem;
  padding-bottom: 1rem;
}

h1, h2 {
  font-family: "Gilroy-Bold";
}

p {
  line-height: 1.7;
}
p.bold {
  font-family: "Gilroy-Bold";
}
p.light {
  font-family: "Gilroy-Light";
}

a {
  text-decoration: none;
  transition: ease-in-out 250ms;
  color: #757575;
}
a:hover {
  color: #7986CB;
}
a:hover .button:hover {
  color: #F5F5F5;
}

p, a {
  font-size: 1.3rem;
}
p.description, a.description {
  font-size: 1rem;
}

@media (max-width: 680px) {
  h1 {
    font-size: 2rem;
  }
}
button, .button {
  font-family: "Gilroy-Regular";
  border: none;
  cursor: pointer;
  transition: ease-in-out 250ms;
  text-transform: uppercase;
  font-size: 1rem;
  background-color: #4CAF50;
  padding: 0.875rem 1.25rem;
  border-radius: 4px;
}
button:hover, .button:hover {
  background-color: #81C784;
  color: #7986CB;
}
button__hollow, .button__hollow {
  background-color: transparent;
}
button__hollow.dark, .button__hollow.dark {
  color: #F5F5F5;
}
button__hollow:hover, .button__hollow:hover {
  background-color: transparent;
  color: #7986CB;
}
button__outlined, .button__outlined {
  background-color: transparent;
  border: 1px solid #4CAF50;
  color: #757575;
}
button__outlined:hover, .button__outlined:hover {
  background-color: #4CAF50;
  color: #F5F5F5;
}
button__outlined.dark, .button__outlined.dark {
  border: 1px solid #757575;
}
button__outlined.dark:hover, .button__outlined.dark:hover {
  background-color: #FFE082;
  color: #212121;
  border: 1px solid #FFE082;
}
button.block, .button.block {
  width: 100%;
}
button.small, .button.small {
  padding: 0.625rem 1.25rem;
}/*# sourceMappingURL=variables.css.map */